@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 10px;
}

.post {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    margin-top: 20px;
    max-width: 506px;
    background: #242526;
    color: #FFFFFF;
    margin-left: 260px;

}

.post:first-child {
    border: 2px solid #9A05EB;
}

.post__content {
    padding: 34px 16px 36px 45px;
    display: flex;
    gap: 25px;
    max-width: 261px;
}

.name {
    /* margin-bottom: 6px; */
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
}


.post__location{
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
}

.profession {
    display: flex;
}

.post__profession {
    margin-bottom: 12px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 10px;
    white-space: normal;
}

.post__abilities {
    font-weight: 400;
    font-family: 'Poppins';
    font-size: 10px;
}

.post__btn {
    display: flex;
    gap: 12px;

}

.btn__clock {
    padding: 2px 8px 4px 4px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: #FFFFFF;
    border: none;

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 8px;

    display: flex;
}

.btn__available {
    padding: 3px 8px 4px 8px;
    background: #3C983A;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;

    display: flex;
    align-items: center;
    gap: 6px;

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 8px;
}

.btn__available:nth-child(3) {
    background-color: #9F3232;
}


/* -------------------------------------- */


.header__content {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 27px;
}



.header__menu{
    display: flex;
    gap: 25px;
}

.circle{
    border-radius: 100%;
    border: 1px solid #FFFFFF;
}

.header__menu-profile {
    border: 0.5px solid #FFFFFF;
    border-radius: 5px;

    padding: 5px 6px 9px 10px;

    display: flex;
    align-items: center;
    gap: 8px;
}

/* ============================================== */

.btn__menu {
    margin-top: 37px;
    background-color: #000000;
    color: #FFFFFF;

    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.btn__menu:nth-child(2) {
    max-width: 150px;
    padding: 7px 58px 6px 15px;
    background: #FFFF;
}

.item__description{
    color: #FFFFFF;
}