@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

.container__description {
    max-width: 450px;
    margin: 0 auto;
}


.title__color {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #9A05EB;
    margin-bottom: 10px;
}

.main__line {
    background: #FFFFFF;
    opacity: 0.5;
    max-width: 486px;
    margin: 16px 23px;
}

.basic__line {
    background: #FFFFFF;
    opacity: 0.2;
    margin: 15px 0;
}

.btn__create {
    background-color: Purple;
    padding: 6px 15px;
    border-radius: 10px;
    margin: 23px 47px 0 38px;

    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}