@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.description {
    color: #FFFFFF;
    
}

.description__mark {
    display: flex;
    gap: 15px;
    padding: 18px 15px 14px 15px;
    min-width: 521px;
    margin: 6px 6px 0px 6px;
}

.all__background {
    background: #242526;
    margin-top: 13px;
    margin-left: 31px;
    border: 1px solid #9A05EB;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 533px;
    margin-bottom: 13px;
}

.description__background{
    background: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.description__wrapper {
    margin: 6px 6px 0px 6px;
}
.name {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    display: flex;
    align-items: center;
}



.description__profession {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #9A05EB;
}

.description__btn {
    display: flex;
    gap: 20px;
    margin-bottom: 27px;
}

.btn__connect {
    background: #9A05EB;
    border-radius: 10px;
    padding: 0 17px;

    font-family: 'Poppins';
    font-weight: 500;
    font-size: 10px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

}

.namemark {
    margin-bottom: 10px;
}

.profession{
    margin-bottom: 15px;
}

.description__location{
    display: flex;
    gap: 5px;
}



.actifity{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    opacity: 0.6;
}

.location {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
}