@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 10px;
}

.post__container {
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn__menu {
    margin-top: 37px;
    background-color: #FFFFFF;
    
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

.btn__styles {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    color: #9A05EB;
}


.item__description{
    color: #FFFFFF;
}

.leftmenu {
    margin-right: 45px;
}

.btn__create {
    color: #FFFFFF;
}