@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 10px;
}

.post__container {
    display: flex;
}

.post__line {
    border: 1px solid #242526;
    filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    margin-top: 13px;
    padding: 20px 30px;

    margin-bottom: 13px;
}

.post {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    margin-top: 20px;
    max-width: 506px;
    background: #242526;
    color: #FFFFFF;
}

.post:first-child {
    border: 2px solid #9A05EB;
}

.post__content {
    padding: 34px 16px 36px 45px;
    display: flex;
    gap: 25px;
    min-width: 506px;
}

.name {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 15px;

    display: flex;
    align-items: center;
    gap: 6px;
}


.post__location{
    margin-bottom: 8px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 8px;
}

.location {
    display: flex;
    gap: 3px;
}

.profession {
    display: flex;
}

.post__profession {
    margin-bottom: 8px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 9px;
    white-space: normal;
}

.post__abilities {
    font-weight: 400;
    font-family: 'Poppins';
    font-size: 9px;
}

.post__btn {
    display: flex;
    gap: 12px;

    white-space: nowrap;
    max-height: 17px;
}

.btn__clock {
    /* padding: 2px 8px 4px 4px; */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  
    border: none;

   

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__label {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 8px;
    color: #FFFFFF;
}

.btn__available {
    padding: 3px 8px 4px 8px;
    background: #3C983A;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;

    display: flex;
    align-items: center;
    gap: 4px;

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 7px;
}

